* {
    border: none;
    border-radius: 0;
    font-family: "sans";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    color: white;
    background: #2d333f;
    opacity: 0.90;
}

#workspaces {
    background-color: #3b4252;
    margin: 3px 0 3px 7px;
    border-radius: 5px;
}

#workspaces button {
    padding: 0 10px;
    color: #eceff4;
}

#workspaces button.focused {
    color: #2e3440;
    background-color: #88c0d0;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: #5e81ac;
    border-radius: 5px;
}

#scratchpad, #idle_inhibitor, #custom-date, #cpu, #clock, #battery, #pulseaudio, #network, #tray {
    background-color: #3b4252;
    padding: 2px 7px;
    margin: 3px 0px;
    border-radius: 5px;
}

#tray {
    margin-right: 7px;
    padding: 2px 2px;
}

#cpu {
    color: #668ebf;
}

#idle_inhibitor {
    color: #8fbcbb;
}

#window {
    color: #c7dfe0;
    padding: 2px 7px;
    margin: 3px 0px;
}

#custom-date {
    color: #8fbcbb;
}

#custom-power {
    color: #2e3440;
    background-color: #bf616a;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 0px 10px;
}

#clock {
    color: #FFFFFF;
    border-radius: 5px;
}

#battery {
    color: #a3be8c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.charging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #88c0d0;
}

#pulseaudio {
    color: #81a1c1;
    border-radius: 5px;
}

